body{
    background-color: antiquewhite;
    font-family: "Cal Sans", sans-serif;
}

#heading{
    color: salmon;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}